@media (max-width: 700px) {
  .locations {
    flex-direction: column;
  }
}

body {
  background-color: rgb(255, 216, 155);
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

main,
footer,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  display: flex;
  gap: 10px;
}

.heading img {
  height: 90px;
  width: 90px;
}

.locations {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(55, 55, 55, 0.1);
  margin: 20px 0;
}

.location-card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 5px;
  flex: 1;
  min-width: 250px;
}

.location-card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2px;
}

strong {
  text-transform: uppercase;
  font-size: 20px;
}

h1 {
  font-family: "Titan One", sans-serif;
  color: rgb(23, 36, 164);
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  font-family: "Titan One", sans-serif;
  color: rgb(23, 36, 164);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 12px 0;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 8px 0 0 0;
  color: rgb(55, 55, 55);
}

.note {
  font-size: 14px;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.location-card input {
  width: 60%;
  max-width: 300px;
}

.search-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  font-size: medium;
  background-color: rgba(255, 253, 247, 0.9);
  padding: 5px;
  border-radius: 10px;
  border: 1.5px solid rgb(23, 36, 164);
}

input.button {
  margin-left: 10px;
  align-items: end;
  cursor: pointer;
  background-color: rgb(23, 36, 164);
  color: rgba(255, 253, 247, 0.9);
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.localTime {
  color: rgb(23, 36, 164);
  font-size: 18px;
  font-weight: bold;
}

.city-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.localTemperature {
  font-size: 30px;
  font-weight: bold;
  color: rgb(23, 36, 164);
}

.weatherIcon {
  padding: 20px;
  font-size: 36px;
}

.weatherInfo {
  display: flex;
  align-items: center;
  gap: 6px;
}

footer {
  font-size: 13px;
  text-align: center;
  color: rgb(55, 55, 55);
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: rgb(23, 36, 164);
  text-decoration: none;
}
